@import '~normalize.css'; /*~ means normalize is in node modules*/
@import 'fonts.css';

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  color: darkslategray;
  font-family: 'OpenSans', Verdana, sans-serif;
}

.img {
  background-image: url(../assets/after.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: gray;
  height: 550px;
  width: auto;
  margin: 0 auto;
}

.code {
  border: 3px solid #deb887;
}

.answers {
  list-style: none;
}
